@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

body {
    width: 60vw;
    background-color: #3b4252;
}

*, .navbar-nav .nav-link, img {
    color: #eceff4;
    font-family: "Space Grotesk", sans-serif;
}

h1 {
    font-size: 2rem;
}
        
span {
    color: #81a1c1;
}