---
const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>

        <!-- Importing Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <!--Bootstrap JS-->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>

    </head>
    <body class="m-auto">
        <nav class="navbar navbar-expand-lg mb-5">
            <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" width="50" height="50" alt="#" class="rounded-5">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link m-3" href="/portfolio">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-3" href="/portfolio/projects">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>
        <article>
            <slot /> <!-- Page Content In Here -->
        </article>
    </body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

        body {
            width: 60vw;
            background-color: #3b4252;
        }

        * {
            color: #eceff4;
            font-family: "Space Grotesk", sans-serif;
        }

        *[:hover] {
            color: #81a1c1;
            font-family: "Space Grotesk", sans-serif;
        }

        h1 {
            font-size: 2rem;
        }
        
    </style>
</html>